*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;
    .search-box{
        width: 70px;
        height: 70px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        background-color: #242628;
        transition: all 0.5s;
        &__input{
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            color: #fff;
            padding: 20px 100px 20px 20px;
            font-size: 20px;
        }
        &__btn{
            width: 70px;
            height: 70px;
            position: absolute;
            right: 0;
            border: none;
            outline: none;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .search-box.open{
        width: 400px;
    }
}